a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#iframe_78d6203e { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:95%; height:250px; background:none; border: 1px solid #A0A0A0;  }
#button_47bc8f75 { box-sizing: border-box; border-radius: 9px; position:absolute; left:19%; top:34%; width:150px; height:40px; background-color:#A94600; background: linear-gradient(to bottom,#A94600, #4C1F00 50%, #3B1800 50%, #2A1100); border: 2px solid #592400;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle2 { text-align:center; }
.textstyle3 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
